@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
  --color-brandPeach: #FE7466;
  --color-brandPurple: #7A75D7;
  --color-textDark: #2D2D2D;
  --color-textGray: #7D7D7D;
  --color-bgLight: #FCF8F8;
  --font-sans: "Inter", sans-serif;
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; 
  }
}
